@import url(./default.css);

/* Шрифты */
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/cusotm-avenir/AvenirNextCyr-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/cusotm-avenir/AvenirNextCyr-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/cusotm-avenir/AvenirNextCyr-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/cusotm-avenir/AvenirNextCyr-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Контейнер */
.vl-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1060px;
}

/* Всё тело */
.vl-main {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: 400;
    color: #1a0f0f;
}

/* Секция Промо */
.vl-promo {
    padding: 33px 0 70px;
    display: flex;
    flex-direction: row;
}

.vl-promo__wrapper {
    display: flex;
    column-gap: 42px;
    max-height: 464px;
}

h1.vl-promo__title {
    font-family: 'Avenir Next Cyr', sans-serif;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
}

.vl-promo__text {
    margin-top: 0;
    margin-bottom: 106px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    max-width: 481px;
}

.vl-btn {
    padding: 0 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    color: #fff;
    background-color: #be1622;
    border: none;

    border-radius: 10px;
    height: 53px;
}

.vl-promo__right,
.vl-promo__right img {
    flex-shrink: 0;
    border-radius: 14px;
}

/* Секция Достижения */
.vl-achievements {
    padding: 30px 0 40px;
    background-color: #f8eee1;
}

.vl-achievements__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 28px;

    text-align: center;
}

.vl-achievements__item {
    width: 340px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.vl-achievements__text {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}

/* Секция "Доставка обедов в офис и на предприятие" */
.vl-delivery {
    padding: 130px 0 126px;
}

.vl-delivery__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

h2.vl-delivery__top-title {
    font-family: 'Avenir Next Cyr', sans-serif;
    margin-top: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 1;
    max-width: 992px;
}

.vl-delivery__top-text {
    font-size: 20px;
    line-height: 1.3;
}

.vl-delivery__top-text p {
    margin: 0;
}

.vl-delivery__top-text p + p {
    margin-top: 15px;
}

.vl-delivery__middle {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

h3.vl-delivery__middle-subtitle {
    font-family: 'Avenir Next Cyr', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #be1622;
}

.vl-delivery__middle-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.vl-delivery__middle-content {
    max-width: 520px;
}

h4.vl-delivery__middle-suggestion {
    font-family: 'Avenir Next Cyr', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
}

.vl-delivery__middle-description {
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
}

.vl-delivery__bottom {
    padding: 22px 36px 25px;
    background-color: #be1622;
    color: #fff;
    border-radius: 10px;
    
    display: flex;
    column-gap: 70px;
    align-items: center;
}

.vl-delivery__bottom-left {
    font-size: 20px;
    line-height: 1.3;
}

.vl-delivery__bottom-left p {
    margin: 0 ;
}

.vl-delivery__bottom-left span {
    font-weight: 700;
}

.vl-delivery__bottom-btn {
    background-color: #fff;
    color: #be1622;
}

/* Секция Меню */
.vl-menu {
    padding-bottom: 130px;
}

.vl-menu__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 51px;
}

.vl-menu__top {
    display: flex;
    column-gap: 122px;
}

.vl-menu__top h2 {
    margin: 0;
    font-family: 'Avenir Next Cyr', sans-serif;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 1;
}

.vl-menu p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.3;
}

.vl-menu__choice {
    display: flex;
    column-gap: 20px;
    max-height: 344px;
}

.vl-menu__lunch {
    position: relative;
}

.vl-menu__lunch img {
    border-radius: 10px;
}

.vl-menu__lunch .vl-menu-btn {
    position: absolute;
    left: 50%;
    /* bottom: 5.5%; */
    bottom: 0;
    transform: translateX(-50%);
}

.vl-menu-btn {
    margin-bottom: 20px;
    column-gap: 11.5px;
    width: 280px;
}

.vl-shadow {
    filter: brightness(60%);
} 

.vl-menu__list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}

.vl-menu__list {
    display: flex;
    column-gap: 12px;
}

.vl-menu__weekday {
    flex: 1;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.vl-menu__weekday p {
    margin: 0;
}

.vl-menu__dayname {
    padding-bottom: 16px;
    margin: 0;
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    color: #be1622;

    border-bottom: 1px solid #be1622;
}

.vl-menu__dishtype {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.vl-menu__salads {
    height: 238px;
}

.vl-menu__soups,
.vl-menu__hot {
    height: 290px;
}

.vl-menu__side {
    height: 160px;
}


.vl-menu__dishtype .vl-menu__dishtype-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

.vl-menu__name {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.vl-menu__list-btn {
    padding: 0 40px;
}

/* Секция "Правила доставки" */
.vl-rules {
    padding: 70px 0;
    background-image: url(../img/vl-rules/rules-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vl-rules__wrapper {
    color: #fff;
}

.vl-rules__wrapper p {
    margin: 0;
}

.vl-rules__title {
    margin: 0;
    margin-bottom: 63px;
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1;
    color: #fff;
}

.vl-rules__list {
    margin-bottom: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 30px;
    column-gap: 20px;
}

.vl-rules__content {
    max-width: 520px;
    display: flex;
    column-gap: 20px;

    flex-grow: 1;
}

.vl-rules__number {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}

.vl-rules__text {
    font-size: 20px;
    line-height: 1.3;
}

.vl-rules__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl-rules__btn {
    padding: 0 44.5px;
}



